.product__paper {
    overflow: hidden;
    position: relative;
}

.product__new {
    position: absolute;
    top: 15px;
    right: 15px;
    background: rgb(24, 144, 255);
    color: white;
    text-transform: uppercase;
    /* height: 22px; */
    padding: 0px 8px;
    border-radius: 8px;
}

.product__sale {
    position: absolute;
    top: 15px;
    right: 15px;
    background: rgb(255, 72, 66);
    color: white;
    text-transform: uppercase;
    /* height: 22px; */
    padding: 0px 8px;
    border-radius: 8px;
}
.product__paper img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.product__paper .product__info {
    padding: 20px 15px;
}

.product__linkName {
    margin-bottom: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.product__restInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product__colors {
    display: flex;
    align-items: center;
}

.product__colorPaint {
    width: 13px;
    height: 13px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 1px;
    box-shadow: rgb(0 0 0 / 24%) -1px 1px 2px inset;
}

.product__price {
    color: black;
}

.product__oldPrice {
    color: rgba(0 0 0 / 55%);
    text-decoration: line-through;
}