.post__container {
    border-radius: 12px;
    width: 100%;
    background-image: url('../../assets/post2image.jpg');
    height: 270px;
    /* min-height: min-content; */ 
    /* height: 1000px; */
    background-position: 50% 50%;
    background-size: cover;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    position: relative;
    overflow: hidden;
    z-index: 1;
}
/* .post__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
} */

.post__container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 28, 36, 0.72);
}

.post__content {
    position: absolute;
    color: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.post__content .content__avatar{
    margin-left: 24px;
    margin-top: 32px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.content__dtc {
    padding: 32px 24px;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
}

.postDate {

}

.content__title {
    display: inline-block;
    cursor: pointer;
    margin: 12px 0px !important;
    color: white !important; 

    text-decoration: none !important;
}

@media(max-width: 768px){
    .content__title {
        font-size: .7rem;
    }

    .content__dtc {
        padding: 16px 12px;
    }

    .post__container{
        height: 240px;
    }
}

.content__title:hover {
    text-decoration: underline;
}
.content__title:hover h3{
    text-decoration: underline;
}

.dtc__info{
    color: rgb(145, 158, 171);
    font-size: .7rem;
    display: flex;
    align-items: center;
}

.dtc__info img {
    width: 16px;
    height: 16px;
}

.views__comments {
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-self: flex-end;
}

.views__comments img {
    margin-right: 5px;
}

.views__comments .dtc__info {
    margin-right: 8px;
}