.users{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 16px;
    flex: 1;
    padding-bottom: 70px;
}

@media (max-width: 1200px){
    .users {
        padding-left: 32px !important;
    }
}

.topSpacer {
    width: 100%;
    height: 100px;
}

.overTable {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}